//
// Modules -> Buttons
// ------------------------------------

.btn {
  display: inline-block;
  outline: none;
  border: 0;
  background-color: transparent;
  background-image: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
}
