//
// Grid
//
.area {
  .clearfix();
  margin-right: auto;
  margin-left: auto;

  @media (min-width: @grid-breakpoint-sm) {
    width: @grid-area-sm;
  }

  @media (min-width: @grid-breakpoint-md) {
    width: @grid-area-md;
  }

  @media (min-width: @grid-breakpoint-lg) {
    width: @grid-area-lg;
  }
}
