// Lists

.list {
  padding-left: 0;
  list-style: none;
}

// Variations
.list {
  &.-inline {
    margin-left: -.5em;

    & > li {
      display: inline-block;
      padding-right: .5em;
      padding-left: .5em;
    }
  }
}
