//
// Scaffolding
//

//
// Reset the box-sizing
//
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


//
// Reset HTML, body, and more
//
html {
  font-size: @font-size-root;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-color: @body-bg;
  color: @body-color;
  font-size: @font-size-base;
  font-family: @font-family-base;
  line-height: @line-height;
}


//
// Links
//
a {
  color: @link-color;
  text-decoration: none;
  text-decoration: inherit;
  transition: all .3s ease;

  &:hover,
  &:focus {
    color: @link-hover-color;
  }
}


//
// Images
//
img {
  display: block;
  max-width: 100%;
  height: auto;
}


//
// Forms
//
fieldset {
  margin-bottom: @spacer;
}


//
// Tables
//
table {
  width: 100%;
  margin-bottom: @spacer;

  th {
    text-align: left;
  }
}
