//
// Colors
//

@brand-primary:   #f8aa27;
@brand-secondary: #4c657e;
@brand-light:     #e9e6C9;
@brand-dark:      #393e51;


//
// Body
//

// Colors
@body-color: #373a3c;
@body-bg:    #fff;

// Font family
@font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace;

// Font sizes
@font-size-root: 10px;

@font-size-base: 1.4rem;
@font-size-xs:   1rem;
@font-size-md:   1.8rem;
@font-size-lg:   2.4rem;

// Line heights
@line-height: 1.5;
@spacer:      1em;

// Links
@link-color:       @brand-primary;
@link-hover-color: @body-color;


//
// Modules
//

// Grid
@grid-breakpoint-xs: 540px;
@grid-breakpoint-sm: 768px;
@grid-breakpoint-md: 992px;
@grid-breakpoint-lg: 1200px;

@grid-area-sm: 720px;
@grid-area-md: 960px;
@grid-area-lg: 1140px;

// Typography
@headings-font-family: inherit;
@headings-font-weight: 500;
@headings-line-height: 1.1;
@headings-color:       inherit;

@font-size-h1: 4.0rem;
@font-size-h2: 3.2rem;
@font-size-h3: 2.8rem;
@font-size-h4: 2.4rem;
@font-size-h5: 2.0rem;
@font-size-h6: 1.6rem;

@blockquote-border-width: 4px;
@blockquote-border-color: @brand-primary;
@blockquote-small-color:  #777;

// Buttons
@btn-border-width:  1px;
@btn-border-radius: 4px;
@btn-font-size:     @font-size-base;
@btn-line-height:   @line-height;

@btn-default-color:  @body-color;
@btn-default-bg:     #f5f5f5;
@btn-default-border: #eee;

// Forms
@form-input-color:         @body-color;
@form-input-border:        #eee;
@form-input-border-radius: 4px;

// Tables
@table-cell-padding:  .75em;
@table-border-weight: 1px;
@table-border-color:  #eaeaea;
@table-font-size:     inherit;
@table-line-height:   inherit;

@table-striped-bg:    #f9f9f9;


//
// Components
//

// Navbar
// ...


//
// Partials
//

// Header
// ...


//
// Pages
//

// Home
// ...
