//
// Button color
//
.btn-color(@color, @bg, @border: transparent, @active-color: @color, @active-bg: darken(@bg, 10%), @active-border: darken(@border, 12%)) {
  color: @color;
  background-color: @bg;
  border-color: @border;

  &:hover,
  &:focus {
    color: @active-color;
    background-color: @active-bg;
    border-color: @active-border;
  }
}
