{#
 # Usage example:
 #    In header of file:
 #        {% import "../macros/_svg.html" as svg %}
 #
 #    In the place where you want to call a macro:
 #        <span>{{ svg.icon('name') }}</span>
 #        <span>{{ svg.icon('name', attrs=['aria-hidden="true"', width="32"', 'height="32"']) }}</span>
 #}

{% macro icon(name, prefix='icon', src='#', attrs=['aria-hidden="true"']) -%}
<svg class="{{ prefix }} {{ prefix }}-{{ name }}" {{ attrs|join(' ')|safe }}><use xlink:href="{{ src }}{{ prefix }}-{{ name }}"></use></svg>
{%- endmacro %}
