meta(charset="UTF-8")
title.
  Raptorius Web Kit
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="")
meta(name="keywords", content="")

// Service information
meta(name="author", content="humans.txt")
meta(name="robots", content="")

// Android
meta(name="mobile-web-app-capable", content="yes")
link(rel="icon", sizes="192x192", href="images/touch/chrome-touch-icon-192x192.png")

// iOS
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="apple-mobile-web-app-title", content="")
link(rel="apple-touch-icon", sizes="152x152", href="images/touch/apple-touch-icon-152x152.png")
link(rel="apple-touch-icon", href="images/touch/apple-touch-icon.png")

// Windows 8 Tile
meta(name="msapplication-TileImage", content="images/touch/ms-touch-icon-144x144.png")
meta(name="msapplication-TileColor", content="#fff")

// Styles
// bower:css
// endbower
link(rel="stylesheet", href="styles/styles.css")
