<meta charset="UTF-8"/>
<title>Yellfy</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<!-- Service information-->
<meta name="author" content="humans.txt"/>
<link rel="canonical" href="http://www.example.com/"/>
<!-- Android-->
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="theme-color" content="#f8aa27"/>
<link rel="icon" type="image/png" href="images/touch/android-chrome-192x192.png" sizes="192x192"/>
<!-- iOS-->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="Yellfy"/>
<link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png"/>
<!-- Windows 8 Tile-->
<meta name="msapplication-TileImage" content="images/touch/mstile-144x144.png"/>
<meta name="msapplication-TileColor" content="#f8aa27"/>
<!-- Standard-->
<link rel="icon" type="image/png" href="images/touch/favicon.png" sizes="128x128"/>
<!-- Styles-->
<!-- bower:css-->
<!-- endbower-->
<link rel="stylesheet" href="styles/styles.css"/>
