extends layouts/_default

//- Set title of page
block title
  title RWK

//- Set content in header
block siteHeader

//- Set content in main
block siteMain
  include pages/_index/_main

//- Set content in footer
block siteFooter