extends layouts/_default

//- Set title of page
block title
  title Yellfy

//- Set the short name for the specified page (use to the body class)
block pageName
  -var pageName = "home"

//- Set the contents of the Header
block siteHeader
  include partials/_header

//- Set the contents of the Main
block siteMain
  include pages/index/_main

//- Set the contents of the Footer
block siteFooter
  include partials/_footer
